:root{
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,187,2);
    --blanco: #FFF;
    --negro: #000;
    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /** GLOBALES **/
  body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5; /*Interlineado*/
  }
  p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
  }
  a{
    text-decoration: none;
  }
  img{
    max-width: 100%;
  }
  .contenido{
    max-width: 120rem;
    margin: 0 auto;
  }
  h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
  }
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 3.2rem;
  }
  h3{
    font-size: 2.4rem;
  }

  /** HEADER **/
  .header{
    display: flex;
    justify-content: center;
  }
  .header__logo{
    margin: 3rem 0;
  }

  /** FOOTER **/
  .footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
  }
  .footer__texto{
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
  }

  /** NAVEGACION **/
  .navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem; /*separar los elementos*/
  }
  .navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
  }
  .navegacion__enlace--activo,
  .navegacion__enlace:hover{
    color: var(--secundario);
  }

  /** GRID**/
  .grid{
    display: grid; /*pantallas en celular se verán 2 columnas*/
    grid-template-columns: repeat(2, 1fr);
    /*column-gap: 2rem; /*separacion entre columnas*/
    /*row-gap: 2rem; /*separacion entre filas*/
    gap: 2rem; /*separa filas y columnas*/
  }
  @media (min-width: 768px) { /*pantallas como tablet o computadora se verán 3 columnas*/
      .grid{
        grid-template-columns: repeat(3, 1fr);
      }
  }

/** PRODUCTOS **/
.producto{
  background-color: var(--primarioOscuro);
  padding: 1rem;
}
.producto__imagen{
  width: 100%;
}
.producto__nombre{
  font-size: 4rem;
}
.producto__precio{
  font-size: 2.8rem;
  color: var(--secundario);
}
.producto__nombre, .producto__precio{
  font-family: var(--fuentePrincipal);
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}

/** GRAFICOS **/
.grafico{
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.grafico--camisas{
  grid-row: 2 / 3; /*la fila de arriba hacia abajo,va en el espacio del 2 al 3*/
  grid-column: 1 / 3;
  background-image: url(../img/grafico1.jpg);
}
.grafico--node{
  background-image: url(../img/grafico2.jpg);
  grid-row: 8 / 9;
  grid-column: 1 / 3;
}
@media (min-width: 480px) {
  .grafico--node{
    grid-row: 5 / 6;
    grid-column: 2 / 4;
  } 
}

/**NOSOTROS**/
@media (min-width: 480px) {
  .contenido__grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .contenido__grid--img{
    grid-column: 2 / 3;
  }
  .contenido__grid--texto{
    grid-row: 1 / 2;
  }
}
.contenido__grid--texto{
  color: var(--blanco);
  padding: 2rem;
}
.contenido__grid--img{
  text-align: center;
}

/** BLOQUES **/
.bloques{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem; /*separación entre columnas*/
}
@media (min-width: 480px) {
    .bloques{
      grid-template-columns: repeat(4, 1fr);
    }
}
.bloque{
  text-align: center;
}
.bloque__titulo{
  margin: 0;
}
.bloque__imagen{
  width: 100%;
}

/** PRODUCTOS **/
@media (min-width: 768px) {
  .camisa{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
.camisa__img{
  text-align: center;
  width: 100%;
}
.formulario{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.formulario__campo{
  border: 1rem solid var(--primarioOscuro);
  background-color: var(--primario); /*No dejar tranparent porque se ve blanco el fondo y con la letra blanca se pierde*/
  color: var(--blanco);
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}
.formulario__campo::placeholder{
  color: var(--blanco);
}
.formulario__submit{
  background-color: var(--secundario);
  border: none;
  font-size: 2rem;
  font-family: var(--fuentePrincipal);
  padding: 2rem;
  transition: background-color .3s ease;
  transition: font-size .3s ease;
  /*no hace falta ordenar el boton submit con el grid-column*/
}
.formulario__submit:hover{
  font-size: 2.5rem;
  cursor: pointer;
  background-color: var(--secundarioOscuro);
}
@media (min-width: 768px) {
  .camisa__img{
    text-align: end;
  }
  .formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .formulario__submit{
    grid-column: 1 / 3;
  }
}